body {
    background-color: #e1e4e8;
    font-family: 'Mulish', sans-serif;
}

nav.navbar {
    background-color: #24292e;
}

a {
    color: white;
}

h1.heading {
    font-family: 'Alatsi', sans-serif;
    text-align: center;
    padding-top: 1%;
    padding-right: 1%;
    padding-left: 1%;
}

.card {
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 1%;
}

#chartContainer{
    font-family: 'Mulish', sans-serif;
    margin-top:20px !important;
}

.recommend{
    width:100%;
}

.btn-lg{
    margin:100px;
    padding:16px 40px;
    font-size:24px;
    font-weight: 600;
    letter-spacing:1px;
}