{% extends "recommender/base.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'recommender/rest.css' %}">

{% endblock head %}

{% block content %}

<h1>Team members are:</h1>
<h2>1. Harshwardhan Kumar:</h2>
    <p>Machine learning enthusiast and a good coder.</p>
        <p>contact him at 2019csb1089csb@iitrpr.ac.in</p>
    <h2>2. Aman Kumar Chourasiya:</h2>
    <p>A very dedicated student, hardworking and a good developer.</p>
    <p>contact him at 2019csbXXXX@iitrpr.ac.in</p>
    <h2>3. Krithika Goyal:</h2>
    <p>A good programmer.</p>
    <p>contact her at 2019csb1094@iitrpr.ac.in</p>

{% endblock content %}