{% extends "recommender/base.html" %}

{% load static %}

{% block head %}

<link rel="stylesheet" href="{% static 'recommender/rest.css' %}">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Alatsi&display=swap" rel="stylesheet">

{% endblock head %}

{% block content %}

<h1 class="heading">Followers Recommended</h1>
{% for i in followee %}
<div class="card">
    <div class="card-header">
        {{i.followee}}
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            {% if i.source == 'none' %}
            <p>Based on similarity index of {{i.similar}}</p>
            {% else %}
            <p>Based on following of {{i.source}}</p>
            {% endif %}
        </blockquote>
    </div>
</div>
{% endfor %}


{% endblock content %}